
#catagory {
    text-decoration: none;
    padding: 15vh;
}
.addpadinng{
    padding: 25vh;
   padding-top: 0vh;
}
.logo-color{
    background-color:rgb(201, 163, 81);
    padding: 5vh;
    padding-top: 3vh;
    padding-bottom: 5vh;
    border-radius: 1.5vh;
    color: aliceblue;
}

.navhandel{
    background-color: rgb(238, 226, 176);
    flex: auto;
    
    
}
.space{
    flex: content;
    justify-content:flex-end;
}
.font{
    font-size: 3vh;
    font-weight: 500;
}
